body{
    background-color: #333333;
    margin: 0;
}
*::selection{
    background-color: #666666;
    color: #cccccc;
}
.container{
    width: 600px;
    margin: 30px auto;
    padding: 0;
    background-color: #333333;
    box-shadow: 0 0 10px 2px #666666;
    border-radius: 10px;
    box-sizing: content-box;
    background: linear-gradient(transparent, #44444488);
}
.formulario{
    padding: 30px 60px;
    margin: 0 auto;
    font-family: "MedulaOne";
    font-size: 32px;
}
h2{
    margin: 0;
    padding: 0 0 10px 0;
    text-align: center;
    color: #888888;
    font-size: 1em;
}
legend{
    padding: 0 5px 0 10px;
    color: #888888;
    font-size: 0.8em;
    font-weight: 100;
}
fieldset{
    margin: 0 0 10px 0;
    padding: 5px 24px 20px 24px;
    border-color: #bbb;
    border-radius: 6px;
}
label{
    color: #888888;
    font-size: 0.7em;
}
.formulario_input{
    height: 35px;
    width: 100%;
    padding: 5px 5px;
    margin: 0 0 10px 0;
    background-color: #333333;
    border-color: #666666;
    border-radius: 5px;
    border-style: solid;
    color: #999999;
    box-sizing: border-box;
    font-size: 0.5em;
    font-family: "Yrsa";
    font-weight: 100;
}
.formulario_input:invalid{
    border-color: #ff0000;
}
.textarea_input{
    resize: none;
    min-height: 120px;
    margin: 5px 0 0 0;
}
.double_input{
    margin: 0;
}
.checkbox_label{
    font-weight: 100;
    font-size: 0.6em;
}
.checkbox{
    height: 14px;
    width: 14px;
    margin: auto;
}
label > a{
    color: #bbbbbb;
    text-decoration: underline;
}
label > a:hover{
    color: #666666;
}