body{
    margin: 0;
    padding: 0 0 200px 0;
    background-color: #eeeeee;
    background: linear-gradient(to top, #dddddd, transparent);
}
*::selection{
    background-color: #cccccc;
    color: #666666;
}
div{
    width: 60%;
    padding: 0;
    margin: 0 auto;
    font-family: "MedulaOne";
    font-size: 24px;
    color: #333333;
}
h1{
    margin: 0;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 2.3em;
}
h4 {
    margin: 0;
    padding: 35px 0 0 0;
    text-align: left;
    font-size: 1.6em;
}
p{
    margin: 0;
    padding: 5px 0 0 0;
    text-align: justify;
    font-size: 1.1em;
    color: #444444;
}
H1 + p{
    text-align: center;
    padding: 0 0 0 0;
    font-size: 1em;
}
p:last-child{
    padding-top: 50px;
    text-align: center;
}
ul{
    margin: 0;
    padding: 5px 0 0 50px;
    font-size: 1.1em;
    color: #444444;
}
a{
    text-decoration: underline 2.5px;
    color: #111111;
}
a:hover{
    color: #666666;
}
a:active{
    color: #999966;
}