/* excersise margin, padding and border */ 

body{
    /*background-image: url('https://hips.hearstapps.com/hmg-prod/images/bednar-long-best-french-gardens-exterior-veranda-1579038734.png?crop=1.00xw:0.381xh;0,0.425xh&resize=1200:*');*/
    background-color: bisque;
    margin: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}
div{
    width: 800px;
    background-color:blanchedalmond;
    margin: 20px     auto;
    border-width: 7px;
    border-color: #0d520d;
    border-style: double;
    color: #0d520d;
    font-size: 16px;
    box-sizing: content-box;
    box-shadow: 0 0 20px 0 #0d520d;
}
h1{
    font-family: "UniMag";
    text-align: center;
    padding: 20px 100px;
    margin: 0;
    font-size: 2.5em;
}
h2{
    font-family: "Yrsa";
    text-align: center;
    padding: 0 100px;
    padding-top: 0;
    margin: 0;
    font-size: 1.8em;
}
span{
    font-family: "UniMag";
}
p{
    font-family: "YrsaL";
    padding: 20px 100px;
    text-align: justify;
    margin: 0;
    font-size: 1.2em;
    line-height: 1.2;
}
ul{
    font-family: "YrsaL";
    width: 100px;
    height: 100px;
    margin: 0;
    font-size: 1.2em;
    line-height: 1.2;
    top: 0;
}
.formulario{
    height: 100px;
    width: 600px;
    margin: 50px auto;
    background-color: aquamarine;
}
.formulario_input{
    height: 25%;
    width: 50%;
    margin-left: 20px;
    padding: 0;
}
.box{
    height: 400px;
    width: 300px;
    margin: 0 auto;
    border-radius: 7px;
    margin-top: 20px;
    border-top: 6px solid #0d520d;
    background-color: #0d520d;
    background: linear-gradient(transparent, #0d520ddd);
    box-shadow: 0 20px 45px 0 #000000;
    text-shadow: 0 0 7px #999999;
}
.oscuro{
    margin: 0;
    width: 100%;
    height: 100px;
    padding: 0 auto;
    border: 0;
    background-image: url('https://hips.hearstapps.com/hmg-prod/images/bednar-long-best-french-gardens-exterior-veranda-1579038734.png?crop=1.00xw:0.381xh;0,0.425xh&resize=1200:*');
    background-attachment: fixed;
    box-shadow: 0 0 0px 0 #0d520d;
}
.capa-oscura{
    width: 100%;
    height: 100%;
    background-color: #00000088;
    margin: 0;
    border: 0;
    padding: 0;
}