<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %} {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/fonts.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='images/ico.jpg')}}" type="image/jpg">
    <!-- semantica para usar el url_for -->
    <!-- url_for('carpeta madre', filename='caperta-hijo/nombre-del.archivo') -->

</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>