{% extends 'base.html' %}
{% block title %}
    Card
{% endblock %}
{% block content %}
    <div>
        <h1 class="text">Videte ne Quis Sciat</h1>
        <h2 class="text"><span>D</span>icunt post <span>T</span>ergar</h2>
        <p class="text"><span>L</span>orem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis ex suscipit illo quisquam ipsum! Quis, aut nam, veritatis nesciunt eos quidem in sint enim excepturi quasi qui ex. Veritatis, voluptate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, quo rem? Aut harum aliquid eligendi? Vero distinctio facilis itaque inventore, nostrum sapiente est fugiat deserunt reiciendis ex eos quo velit?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ducimus, fugit ipsam officiis voluptatibus laborum, aut maiores cupiditate doloremque repellendus aliquam fugiat reprehenderit enim corporis quasi beatae! Ea, ipsam perferendis?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, facere saepe voluptatum nihil possimus ea velit nobis facilis quae excepturi sapiente incidunt doloribus totam voluptatibus laudantium voluptate, dolor temporibus</p>
        <div class="oscuro">
            <p class="capa-oscura"></p>
        </div>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae autem enim saepe totam dignissimos. Nostrum quos possimus officia accusamus error quod saepe numquam mollitia atque neque eos, quidem eligendi quam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt quasi ex reiciendis voluptates atque eum dolores amet. Quia dicta totam sit, iste fugiat, ad culpa sed rerum deleniti maiores quas! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores sed exercitationem vel quae doloremque ratione animi suscipit! Quisquam tenetur ex, odit ab recusandae quasi non velit vel nobis saepe sit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad eaque cumque nostrum! Ipsam, consequuntur ratione a fuga ducimus ea atque quidem, voluptatem, necessitatibus reiciendis quas vitae. Vitae neque asperiores doloremque!</p>
    </div>
{% endblock %}