{% extends 'base.html' %}
{% block head %}
    <title>Formulario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/formulario.css')}}">
{% endblock %}
{% block content %}
    <div class="container">
        <form class="form">
            <h2>Formulario de Contacto</h2>
            <fieldset>
                <legend>Datos Personales</legend>
                <div class="form__div">
                    <label for="nombre">Nombre</label>
                    <input class="form__div__input" id="nombre" type="text" placeholder="Jhon Doe">
                </div>
                <div class="form__div">
                    <label for="apellido">Apellido</label>
                    <input class="form__div__input" id="apellido" type="text" placeholder="Jhon Doe">
                </div>
                <div class="form__div">
                    <label>Pais</label>
                    <select name="pais_usuario" class="form__div__input">
                        <option value="none">Select</option>
                        <option value="peru">Perú</option>
                        <option value="argentina">Argentina</option>
                        <option value="chile">Chile</option>
                        <option value="bolivia">Bolivia</option>
                    </select>
                </div>
                <div class="form__div">
                    <label for="tipo_documento">Tipo de documento</label>
                    <select name="doc_type" class="form__div__input input--double">
                        <option value="none">Select</option>
                        <option value="DNI">DNI</option>
                        <option value="CE">CE</option>
                    </select>
                    <input class="form__div__input" id="tipo_documento" type="number" max="9999999" placeholder="1234567">
                </div>
            </fieldset>
            <div class="form__div">
                <label for="email">Email</label>
                <input class="form__div__input" id="email" type="email" placeholder="example@email.com">
            </div>
            <div class="form__div">
                <label for="asunto">Asunto</label>
                <input class="form__div__input" id="asunto" type="text" placeholder="De que se trata?">
            </div>
            <div class="form__div">
                <label for="textarea">Mensaje</label>
                <textarea class="form__div__input input--texarea" id="textarea" placeholder="déjanos un email..."></textarea>
            </div>
            <div class="form__div">
                <label class="form__div__label" for="checkbox">Acepto los <a href="/terminos" target="_blank">terminos y condiciones</a></label>
                <input class="checkbox" id="checkbox" type="checkbox">
            </div>
        </form>
    </div>
{% endblock %}