{% extends 'base.html' %}
{% block title %}
    Paddding
{% endblock %}
{% block content %}
    <div class="container">
        <form class="formulario">
            <h2>Formulario de Contacto</h2>
            <fieldset>
                <legend>Datos Personales</legend>
                <div class="div_element">
                    <label for="nombre">Nombre</label>
                    <input class="formulario_input" id="nombre" type="text" placeholder="Jhon Doe">
                </div>
                <div class="div_element">
                    <label for="apellido">Apellido</label>
                    <input class="formulario_input" id="apellido" type="text" placeholder="Jhon Doe">
                </div>
                <div class="div_element">
                    <label>Pais</label>
                    <select name="pais_usuario" class="formulario_input">
                        <option value="none">Select</option>
                        <option value="peru">Perú</option>
                        <option value="argentina">Argentina</option>
                        <option value="chile">Chile</option>
                        <option value="bolivia">Bolivia</option>
                    </select>
                </div>
                <div class="div_element">
                    <label for="tipo_documento">Tipo de documento</label>
                    <select name="doc_type" class="formulario_input double_input">
                        <option value="none">Select</option>
                        <option value="DNI">DNI</option>
                        <option value="CE">CE</option>
                    </select>
                    <input class="formulario_input select_input" id="tipo_documento" type="num" placeholder="1234567">
                </div>
            </fieldset>
            <div class="div_element">
                <label for="email">Email</label>
                <input class="formulario_input" id="email" type="email" placeholder="example@email.com">
            </div>
            <div class="div_element">
                <label for="asunto">Asunto</label>
                <input class="formulario_input" id="asunto" type="text" placeholder="De que se trata?">
            </div>
            <div class="div_element">
                <label for="textarea">Mensaje</label>
                <textarea class="formulario_input textarea_input" id="textarea" placeholder="déjanos un email..."></textarea>
            </div>
            <div>
                <label class="checkbox_label" for="checkbox">Acepto los terminos y condiciones</label>
                <input class="checkbox" id="checkbox" type="checkbox">
            </div>
            <div>
                <a href="/home">Go to Home</a>
            </div>
        </form>
    </div>
{% endblock %}